.idea/
.venv/
__pycache__/

logs/

.DS_Store

results/FacesUCR_1_false_0.zip
results/FordA_-1_false_0.zip
results/Wafer_-1_false_0.zip

workers/worker_pids.json

baseline/resources/baseline/__pycache__/
baseline/_MACOSX/

baseline/Classifiers-converted/
baseline/datasets/
